.container {
    width: 600px;
    height: 600px;
    border: 10px solid #ab752f;
    background-color: #f7ecc8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.middleBar {
    width: 50px;
    height: 100%;
    background-color: #ab752f;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.triangleUp {
    border-bottom: 20px solid black;
}

.triangleUp:nth-child(even) {
    border-bottom-color: red;
}

.triangleDown {
    border-top: 20px solid #f00;
}

.triangleDown:nth-child(even) {
    border-top-color: black;
}

.empty {
    flex-basis: 10%;
}

.row {
    display: flex;
    justify-content: space-between;
}
