.container {
    width: 600px;
    height: 600px;
    border: 10px solid #ab752f;
    background-color: #f7ecc8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.middleBar {
    width: 50px;
    height: 100%;
    background-color: #ab752f;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.empty {
    flex-basis: 10%;
}

.row {
    display: flex;
    justify-content: space-between;
}
